body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-width: 960px;
}
.header {
    width: 100%;
    height: 60px;
    background: #ebedf0;
    position: absolute;
    z-index: 2;
    color: #738dae;
    font-family: Consolas;
    font-size: 22px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 400;
    line-height: 14px;
    border: 1px solid #dfe0e0;
    border-left: 0;
    border-right: 0;
}
.headerMenu {
    height: 100%;
    margin-right: 300px;
}
.headerMenuContent {
    width: 80%;
    margin: auto;
    height: 40px;
    position: relative;
    top: 10px;
    padding-top: 12px;
    text-align: center;
    min-width: 770px;
}
.headerMenuItem {
    margin: 4px;
}
a {
    text-decoration: none;
}
.header a {
    color: #738dae;
}
.header a:hover {
    color: #16a085;
    transition: color 0.3s ease-out;
}
.menuTitleText {
    color: #738dae;
    font-family: Consolas;
    font-size: 20px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 400;
    line-height: 14px;
    display: block;
    margin-top: 12px;
    height: 30px;
}
.menu {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;
    position: absolute;
    right: 0;
    width: 300px;
    z-index: 1;
    padding-right: 8px;
    text-align: center;
}
.menu .menuTitle {
    width: 100%;
    height: 40px;
    margin-top: 70px;
    border-radius: 5px;
    background: #ebedf0;
    border: 1px solid #dfe0e0;
}
.menu .menuBody {
    -webkit-flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0;
    margin-top: 8px;
    border: 1px solid #dfe0e0;
    border-radius: 0 0 5px 5px;
    margin-bottom: 8px;
    background: #fff;
}
.pr {
    float: left;
    height: 40px;
}
.body {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    padding-right: 8px;
    text-align: center;
    right: 310px;
    min-width: 630px;
}
.body .pageMenu {
    height: 40px;
    margin-top: 70px;
    border: 1px solid #dfe0e0;
    margin-left: 10px;
    border-left: 0;
    border-right: 0;
}
.body .menuBody {
    -webkit-flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0;
    margin-top: 8px;
    margin-left: 10px;
    border: 1px solid #dfe0e0;
    border-radius: 0 0 5px 5px;
    margin-bottom: 8px;
    background: #f7f7f7;
}
.logout {
    color: #738dae;
    font-family: Consolas;
    font-size: 20px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 400;
    line-height: 14px;
    display: block;
    position: absolute;
    z-index: 18;
    right: 0;
    background: #ebedf0;
    padding: 22px 20px 20px 20px;
}
.logout a {
    color: #bf5858;
}
.logout a:hover {
    color: #e44444;
}
.pageMenuButt {
    float: right;
    background: #738dae;
    margin-right: 4px;
    margin-top: 4px;
    border: 1px solid #739ec5;
    border-radius: 3px;
    color: #fff;
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 22px;
    padding: 4px;
    width: 65px;
    cursor: pointer;
}
.pageMenuButt:hover {
    background: #16a085;
    transition: background 0.3s ease-out;
}
.menuBodyItem {
    width: 100%;
    height: 50px;
    background: #f0f8ff;
    border-bottom: 3px solid #6d847c;
}
.menuBody .menuBodyItem:nth-child(2n+1) {
    background: #f1fff4;
}
form {
    margin-bottom: 0;
}
.menuBodyItemInfo {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
    color: #7c7e82;
    text-align: left;
    float: left;
    cursor: pointer;
    height: 100%;
    width: 235px;
    padding-left: 5px;
}
.menuBodyItemHeadInfo {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
    color: #7c7e82;
    float: left;
    cursor: pointer;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #f1bfc1;
}
.menuBodyItemButt {
    float: right;
    width: 32px;
    height: 100%;
}
.menuBodyItemButtDel {
    cursor: pointer;
    background: url(../images/delete.png) no-repeat;
    width: 100%;
    height: 100%;
    background-position-y: 12px;
}
.generalContent {
    text-align: left;
    padding: 30px 60px 20px;
    min-height: 500px;
}
#deleteForm {
    min-height: 550px;
}
input {
    border: 1px solid #d8dde1;
    color: #5B5B5B;
    transition: none;
    box-shadow: none;
    font-family: Arial, serif;
    font-size: 14px;
    width: 100%;
    outline: none;
    border-radius: 3px;
    padding: 12px 20px 12px 10px;
    margin-bottom: 9px;
}
input[type="submit"] {
    margin-top: 20px;
}
select {
    border: 1px solid #d8dde1;
    color: #5B5B5B;
    transition: none;
    box-shadow: none;
    font-family: Arial, serif;
    font-size: 14px;
    width: 100%;
    outline: none;
    border-radius: 3px;
    padding: 12px 20px 10px 10px;
    margin-bottom: 10px;
}
label {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
    color: #7c7e82;
    padding: 14px 14px 12px;
}
.error {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
    color: #fd2626;
}
.success {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
    color: #16a085;
}
#createForm {
    display: none;
    opacity: 0;
}
#updateForm {
    display: none;
    opacity: 0;
}
.dataJson {
    display: none;
}
.addingUserJson {
    display: none;
}
.soloTest {
    padding-top: 14px;
    display: block;
    padding-left: 5px;
}
.requisites {
    display: none;
}
.openRequisites {
    border: 1px solid #d8dde1;
    color: #928e8e;
    font-family: Arial, serif;
    font-size: 14px;
    outline: none;
    border-radius: 3px;
    padding: 11px 20px 11px 10px;
    /*margin-top: 23px;*/
    margin-bottom: 10px;
    text-align: center;
    background-color: #ebedf0;
    cursor: pointer;
}
.companyAddressJson {
    display: none;
}
.required {
    color: red;
}
.left-body {
    width: 48%;
    float: left;
}
.right-body {
    width: 48%;
    float: right;
}
.address-list {
    display: flex;
    width: 100%;
}
textarea {
    border: 1px solid #d8dde1;
    color: #5B5B5B;
    transition: none;
    box-shadow: none;
    font-family: Arial, serif;
    font-size: 14px;
    width: 100%;
    outline: none;
    border-radius: 3px;
    padding: 12px 20px 12px 10px;
    margin-bottom: 10px;
}
.left-address-item{
    float: left;
    width: 46%;
    padding-left: 1%;
    padding-top: 1%;
}
.right-address-item {
    float: right;
    width: 46%;
    padding-right: 1%;
    padding-top: 1%;
}
.close-address {
    text-align: right;
}
.close-address img {
    cursor: pointer;
}
.add-address {
    border: 1px solid #d8dde1;
    color: #928e8e;
    font-family: Arial, serif;
    font-size: 14px;
    outline: none;
    border-radius: 3px;
    padding: 12px 20px 12px 10px;
    margin-top: 23px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #ebedf0;
    cursor: pointer;
}
.add-addressUp {
    border: 1px solid #d8dde1;
    color: #928e8e;
    font-family: Arial, serif;
    font-size: 14px;
    outline: none;
    border-radius: 3px;
    padding: 12px 20px 12px 10px;
    margin-top: 23px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #ebedf0;
    cursor: pointer;
}
.check-box-block {
    display: flex;
    float: left;
    /* height: 70px; */
    /* width: 150px; */
    text-align: left;
}
input[type="checkbox"] {
    margin-top: 20px;
    width: 15px;
}
/*http://www.cssfontstack.com/Monaco

CSS:
h1 {
	font-family: Consolas;
	font-size: 27px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 400;
	line-height: 13.5px;
}
h3 {
	font-family: monaco, Consolas, "Lucida Console", monospace;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}
p {
	font-family: monaco, Consolas, "Lucida Console", monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
blockquote {
	font-family: monaco, Consolas, "Lucida Console", monospace;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
pre {
	font-family: monaco, Consolas, "Lucida Console", monospace;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}




*/
