body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
    padding-top: 90px !important;
    margin: 0;
    min-width: 1040px;
}
html, body, .rua-l-body, .ui-widget {
    background-color: #fff;
    color: #0f0f0f;
    font-family: Arial;
}
.searchform {
    position: relative;
}
.preloader {
    top: 0;
    height: 390px;
    width: 100%;
    position: absolute;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    color: rgba(255, 255, 255, 0.01);
}
.windows8 {
    position: relative;
    width: 68px;
    height:68px;
    margin:auto;
    top: 130px;
}
.windows8 .wBall {
    position: absolute;
    width: 65px;
    height: 65px;
    opacity: 0;
    transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    animation: orbit 4.8425s infinite;
    -o-animation: orbit 4.8425s infinite;
    -ms-animation: orbit 4.8425s infinite;
    -webkit-animation: orbit 4.8425s infinite;
    -moz-animation: orbit 4.8425s infinite;
}
.windows8 .wBall .wInnerBall{
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgb(26,188,156);
    left:0;
    top:0;
    border-radius: 8px;
}
.windows8 #wBall_1 {
    animation-delay: 1.056s;
    -o-animation-delay: 1.056s;
    -ms-animation-delay: 1.056s;
    -webkit-animation-delay: 1.056s;
    -moz-animation-delay: 1.056s;
}
.windows8 #wBall_2 {
    animation-delay: 0.203s;
    -o-animation-delay: 0.203s;
    -ms-animation-delay: 0.203s;
    -webkit-animation-delay: 0.203s;
    -moz-animation-delay: 0.203s;
}
.windows8 #wBall_3 {
    animation-delay: 0.4265s;
    -o-animation-delay: 0.4265s;
    -ms-animation-delay: 0.4265s;
    -webkit-animation-delay: 0.4265s;
    -moz-animation-delay: 0.4265s;
}
.windows8 #wBall_4 {
    animation-delay: 0.6295s;
    -o-animation-delay: 0.6295s;
    -ms-animation-delay: 0.6295s;
    -webkit-animation-delay: 0.6295s;
    -moz-animation-delay: 0.6295s;
}
.windows8 #wBall_5 {
    animation-delay: 0.843s;
    -o-animation-delay: 0.843s;
    -ms-animation-delay: 0.843s;
    -webkit-animation-delay: 0.843s;
    -moz-animation-delay: 0.843s;
}
@keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin:0%;
    }

    30% {
        opacity: 1;
        transform:rotate(410deg);
        animation-timing-function: ease-in-out;
        origin:7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin:30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin:39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin:70%;
    }

    76% {
        opacity: 0;
        transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
}
@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin:0%;
    }

    30% {
        opacity: 1;
        -o-transform:rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin:7%;
    }

    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin:30%;
    }

    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin:39%;
    }

    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin:70%;
    }

    76% {
        opacity: 0;
        -o-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }
}
@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin:0%;
    }

    30% {
        opacity: 1;
        -ms-transform:rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin:7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin:30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:70%;
    }

    76% {
        opacity: 0;
        -ms-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }
}
@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:0%;
    }

    30% {
        opacity: 1;
        -webkit-transform:rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin:7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:70%;
    }

    76% {
        opacity: 0;
        -webkit-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }
}
@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin:0%;
    }

    30% {
        opacity: 1;
        -moz-transform:rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin:7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin:30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:70%;
    }

    76% {
        opacity: 0;
        -moz-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
    height: 70px;
    opacity: 0;
}
.header-inner {
    box-sizing: border-box;
    width: 100%;
    max-width: 1260px;
    height: 70px;
    margin: 0 auto;
    list-style: none;
    position: relative
}
.header-logged .header-inner {
    padding-right: 40px
}
.header-item {
    padding: 0;
    margin: 0 0 0 10px;
    display: inline-block;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.4;
    font-family: Arial, sans-serif;
    color: #0f0f0f
}
.header-link {
    font-weight: normal;
    font-size: 13px;
    font-family: Arial, sans-serif;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
    text-transform: uppercase
}
.header-link,
.header-link:link,
.header-link:hover,
.header-link:active,
.header-link:visited {
    color: #0f0f0f
}
.header-link:hover {
    text-decoration: underline
}
.header-link-button {
    border: 1px solid;
    border-radius: 3px;
    box-sizing: border-box;
}
.header-link-button:hover {
    text-decoration: none;
    color: #fff;
}
.header-item.header-menu {
    position: relative
}
.header-item.header-menu.header-settings {
    text-align: center;
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: default;
    margin: 0
}
.header-item.header-menu.header-settings,
.header-item.header-menu.header-settings .header-link,
.header-item.header-menu.header-settings .ri_settings,
.header-item.header-menu.header-settings .ri_settings:before {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 0
}
.header-item.header-menu.header-settings .header-link:hover {
    text-decoration: none
}
.header-item.header-menu:hover .header-menu-inner {
    display: block
}
.header-menu-inner {
    display: none;
    position: absolute;
    top: 99%;
    right: 0;
    background: white;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    width: auto;
    text-align: left;
    z-index: 102;
    white-space: nowrap;
    line-height: 30px
}
.header-menu-item {
    display: block;
    padding: 0;
    margin: 0;
    line-height: 30px;
    height: 30px;
    box-sizing: border-box
}
.header-menu-item-separator {
    border-top: 1px solid #e7e7e7
}
.header-menu-link {
    box-sizing: border-box;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 10px;
    font-size: 13px;
    line-height: 30px;
    height: 30px;
    font-family: Arial, sans-serif;
    text-decoration: none
}
.header-menu-link:link,
.header-menu-link:hover,
.header-menu-link:active,
.header-menu-link:visited {
    color: #0f0f0f;
    text-decoration: none
}
.header-menu-link:hover {
    background: #f7f7f7
}
.header-sticky {
    background: rgba(255, 255, 255, 0.84);
    border-bottom: 1px solid #e7e7e7;
}
.header-sticky .header-link-button {
    background: #16a085;
    color: white;
}

#header_img {
    padding-top: 170px;
    padding-bottom: 30px;
    margin-top: -90px;
    margin-bottom: 30px;
    background-size: 100% 100%;
}
#header_img .headline {
    font-size: 35px;
    margin-bottom: 70px
}
#header_img .header-menu-inner,
#header_img .header-menu-item,
#header_img .header-menu-link {
    line-height: 45px;
    height: 45px;
}
#header_img .header-menu-inner {
    display: block;
    position: static;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0;
    overflow: hidden;
    text-align: center;
    margin-top: 60px;
    margin-bottom: -30px
}
#header_img .header-menu-item {
    display: inline-block
}
#header_img .header-menu-link:link,
#header_img .header-menu-link:hover,
#header_img .header-menu-link:active,
#header_img .header-menu-link:visited {
    color: white
}
#header_img .active .header-menu-link,
#header_img .header-menu-link:hover {
    background: rgba(255, 255, 255, 0.25)
}
#header_img .header-menu-link {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px
}
.headline.centered {
    text-align: center;
    font: normal 20px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.rua-p-c-white {
    color: #fff;
}
h2 small {
    font-size: 18px;
    line-height: 1;
}
.rua-g-left {
    float: left
}
.rua-g-right {
    float: right
}
.searchform .btn.btn-primary.submit_button {
    background: #16a085;
    color: white;
    padding: 16px 20px 17px 20px;
    height: 50px;
}
.searchform .btn.btn-primary.submit_button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #16a085;
}
.searchform input.keyword, .searchform .city-picker, .searchform .btn.btn-primary.submit_button {
    font-size: 16px;
    text-transform: initial;
}
.btn.btn-primary, .btn.btn-primary:visited {
    color: white;
    background: #16a085 none;
    border-color: #b9dcd5;
    text-shadow: none;
    text-transform: uppercase;
}
.btn, .btn:visited {
    text-decoration: none !important;
    color: #3a4c56;
    font-weight: normal;
    font-family: Arial;
    font-size: 13px;
    line-height: 1;
    border-color: #7e7e7e;
    background: transparent none;
    box-shadow: none;
    text-shadow: none;
    outline: none;
}
.searchform input.keyword {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 16px 10px 13px 10px;
    height: 19px;
}
.rua-ddl-value.input-block-level, textarea.input-block-level, input[type="text"].input-block-level,
input[type="password"].input-block-level, input[type="datetime"].input-block-level,
input[type="datetime-local"].input-block-level, input[type="date"].input-block-level,
input[type="month"].input-block-level, input[type="time"].input-block-level, input[type="week"].input-block-level,
input[type="number"].input-block-level, input[type="email"].input-block-level, input[type="url"].input-block-level,
input[type="search"].input-block-level, input[type="tel"].input-block-level, input[type="color"].input-block-level,
.uneditable-input.input-block-level, select.input-block-level {
    width: 100%;
}
.rua-ddl-value, textarea, input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"],
input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"],
input[type="color"], .uneditable-input, select {
    border: 1px solid #d8dde1;
    color: #5B5B5B;
    transition: none;
    border-radius: 0;
    padding: 8px 10px 7px 10px;
    box-shadow: none;
    font-family: Arial;
    font-size: 14px;
    width: 208px;
    outline: none;
}
.form-search input, .form-inline input, .form-horizontal input, .form-search textarea, .form-inline textarea,
.form-horizontal textarea, .form-search select, .form-inline select, .form-horizontal select, .form-search .help-inline,
.form-inline .help-inline, .form-horizontal .help-inline, .form-search .uneditable-input, .form-inline
.uneditable-input, .form-horizontal .uneditable-input, .form-search .input-prepend, .form-inline .input-prepend,
.form-horizontal .input-prepend, .form-search .input-append, .form-inline .input-append, .form-horizontal
.input-append {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.rua-l-wrapper, .rua-l-240_160, .rua-l-240_240 {
    max-width: 960px;
    margin: 0 auto;
}
.rua-l-wrapper2 {
    max-width: 960px;
    margin: 0 auto;
    border-top: 2px solid #fff;
    border-left: 1px solid #fff;
    //border-right: 1px solid #fff;;
    border-radius: 5px;
    //padding-left: 22px;
    //padding-bottom: 20px;
    margin-bottom: 15px;
}
.rua-g-clearfix {
    overflow: hidden;
}
.rua-l-wrapper2 a {
    color: #7e7e7e;
    text-decoration: none;
}
.rua-l-wrapper2 a:hover {
    color: #16a085;
    transition: color 0.3s ease-out;
}
.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
}
.text-center {
    text-align: center;
}
.row {
    display: block;
    font-size: 0;
}
.row, .col {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.d-1of3, .d-2of6, .d-4of12 {
    width: 33.33333%;
}
.col {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}
html, body, .rua-l-body, .ui-widget {
    background-color: #fff;
    color: #0f0f0f;
    font-family: Arial;
}
hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #ffffff;
}
.rua-p-c-red {
    color: #da6c6c;
    //margin-right: 30px;
    width: 20px;
    text-align: right;
}
.rua-p-c-red2 {
    color: #da6c6c;
    //margin-right: 30px;
    //width: 32px;
    text-align: center;
}
.mtmb {
    margin-top: 40px;
    margin-bottom: 40px;
}
.logos {
    margin: auto;
    width: auto;
    border: none !important;
    empty-cells: show;
}
table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
.logos td {
    vertical-align: middle;
    text-align: center;
    padding-right: 10px;
    padding-bottom: 10px;
    border: none !important;
}
.logos a {
    display: block;
    background: no-repeat 50% 50%;
    height: 75px;
    text-indent: -9000px;
    width: 122px;
}
.row.middle>.col {
    vertical-align: middle;
}
.d-1of2, .d-2of4, .d-3of6, .d-4of8, .d-5of10, .d-6of12 {
    width: 50%;
}
#headlinemtmb {
    font: normal 20px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #0f0f0f;
    padding: 0;
    display: block;
    margin: 40px 0;
}
.rua-p-c-mid {
    color: #7e7e7e;
}
.btn.btn-danger, .btn.btn-danger:visited {
    color: #16a085;
    background: transparent none;
    border-color: #16a085;
    text-shadow: none;
    border-radius: 0;
}
.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    background: #f5f5f5 linear-gradient(to bottom, #fff, #e6e6e6) repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
.btn-danger {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background: #da4f49 linear-gradient(to bottom, #ee5f5b, #bd362f) repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn, .btn:visited {
    text-decoration: none !important;
    color: #3a4c56;
    font-weight: normal;
    font-family: Arial;
    font-size: 13px;
    line-height: 1;
    border-color: #7e7e7e;
    background: transparent none;
    box-shadow: none;
    text-shadow: none;
    outline: none;
}
.btn, .btn:visited, .btn:hover, .btn:focus, .btn:active {
    padding: 12px 20px 10px 20px;
}
footer.f {
    border-top: 1px solid #e7e7e7;
    background: white;
    overflow: hidden;
    padding: 0;
    margin: 40px 0 0;
    font-size: 12px;
    line-height: 20px;
    color: #7E7E7E;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}
footer.f .c {
    max-width: 1210px;
    padding: 0 20px;
    margin: 0 auto;
    overflow: hidden;
}
footer.f .c>ul {
    overflow: hidden;
}

footer.f ul, footer.f li {
    list-style: none;
    padding: 0;
    margin: 0 40px 0 0;
}
footer.f .c>ul li {
    float: left;
    width: 20%;
}
footer.f .c>ul b {
    margin: 33px 0 29px 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #0F0F0F;
}
footer.f .c>ul a, footer.f .c>ul b {
    float: left;
    clear: left;
}
footer.f .c>ul a {
    text-decoration: none;
}
footer.f .c>ul a, footer.f .c>ul b {
    float: left;
    clear: left;
}
footer.f a {
    color: #7e7e7e;
}
footer.f .c>ul .b, footer.f .c>ul .b:hover, footer.f .c>ul .l, footer.f .c>ul .l:hover {
    text-decoration: none;
}
footer.f .c>ul .b {
    display: block;
    font-size: 14px;
    color: #7E7E7E;
    line-height: 33px;
    margin-top: 25px;
    margin-bottom: 22px;
    float: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 0;
}
footer.f .c>ul .b:hover {
    color: #16a085;
    transition: color 0.3s ease-out;
}
footer.f .media, footer.f .media-body {
    overflow: hidden;
}
.media, .media .media {
    margin-top: 15px;
}
.media, .media-body {
    overflow: hidden;
    zoom: 1;
}
footer.f .cr {
    line-height: 1.2;
    margin-top: 20px;
    float: left;
    max-width: 80%;
}
#header_img.header_img_variant_1 {
    background-image: url("../images/header.jpg");
}
#header_img .headline > small {
    display: block;
    color: inherit;
}
.box, .box .border {
    width: 220px;
    height: 0;
}
.box {
    position: relative;
    margin: auto;
}
.box .border {
    border: 1px solid #16a085;
    border-radius: 50%;
    -moz-transition: border-radius .3s ease-in-out;
    -o-transition: border-radius .3s ease-in-out;
    -webkit-transition: border-radius .3s ease-in-out;
    transition: border-radius .3s ease-in-out;
}
.box:hover .border {
    border-radius: 20px;
}
.front {
    position: absolute;
    left: 0;
    right: 0;
    top: 29%;
    text-align: center;
    font-size: 17px;
    opacity: 1;
}
.front strong {
    font: normal 32px/1.5 Arial;
    color: #16a085;
    display: block;
}
.back {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 20px;
    color: #7e7e7e;
    text-align: left;
    opacity: 0;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
}
.box:hover .back {
    opacity: 1;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
.box:hover .front {
    opacity: 0;
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.front,
.box:hover .front,
.back,
.box:hover .back {
    -moz-transition: opacity .1s ease-in-out .1s, transform .1s ease-in-out .1s;
    -o-transition: opacity .1s ease-in-out .1s, transform .1s ease-in-out .1s;
    -webkit-transition: opacity .1s ease-in-out .1s, transform .1s ease-in-out .1s;
    transition: opacity .1s ease-in-out .1s, transform .1s ease-in-out .1s;
}
.rptShort {
    overflow: hidden;
    text-align: center;
}
.rptShort div p {
    /*
    background: no-repeat 50% 0;
    display: inline-block;
    text-align: center;
    color: #7e7e7e;
    text-decoration: none;
    float: left;
    width: 20%;
    box-sizing: border-box;
    padding: 70px 10px 0;
    margin-bottom: 20px;
    margin-top: 5px;
    */
}
.rptShort div p a {
    display: inline-block;
    color: #7e7e7e;
    text-decoration: none;
    width: 370px;
}
.rptShort p:nth-child(5n+1) {
    //clear: left;
}
.rptShort div p a:hover {
    color: #16a085;
    transition: color 0.3s ease-out;
    text-decoration: none;
    cursor: pointer;
}
.rptShort span {
    display: block;
}
.rptShort span.subsection {
    display: none;
}
/*
.rptShort a[data-id="3"] {
    background-image: url('');
}
.rptShort a[data-id="3"]:hover {
    background-image: url('');
}
*/
.rptShort div p {
    //width: 50%;
    background-position: 0 50%;
    //padding: 0 0 0 30px;
    text-align: left;
    //background-size: 16px;
    //margin-bottom: 5px;

}
.rptShort span {
    float: right;
}
.rptShort p:nth-child(5n+1) {
    //clear: none;
}
.rptShort p:nth-child(2n+1) {
    //width: 480px;
}
.topHideButt {
    display: none;
    opacity: 0;
    right: 15px;
    position: fixed;
    bottom: 30px;
    color: #fff;
    width: 55px;
    height: 55px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    background: rgba(255, 255, 255, 0.84);
    border-top: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.circleBorder {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    background: rgba(255, 255, 255, 0.84);
    border-top: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.up {
    width: 40px;
}
.circle {
    display: block;
    background-color: #16a085;
    width: 55px;
    height: 55px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.phoneImg {
    width: 38px;
    margin-top: 3px;
}
.starImg {
    width: 38px;
    margin-left: 9px;
    margin-top: 1px;
}
.additionalBlock {
    position: fixed;
    top: 435px;
    left: -75px;
}
.additionalLeft {
    float: left;
    border-radius: 0 0 7px 0;
    background: rgba(255, 255, 255, 0.84);
    border: 1px solid #e7e7e7;
}
.additionalLeftInner {
    height: 300px;
    width: 0;
    margin: 8px 8px 8px 0;
    border-radius: 0 3px 3px 0;
}
#additionalLeftInner {
    opacity: 0;
    display: none;
}
.additionalRight {
    height: 55px;
    width: 55px;
    border-radius: 0 30px 30px 0;
    float: right;
    cursor: pointer;
    padding: 5px;
    background: rgba(255, 255, 255, 0.84);
    border-top: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.phoneSpanNum {
    color: #ff7f7f;
    /*font-size: 30px;*/
}
.additionalButton {
    margin-top: 5px;
    background-color: #fff;
    width: 32px;
    height: 8px;
}

.ourBrand {
    margin: 0 0 -40px;
}
.ourBrandHead {
    height: 180px;
    width: 100%;
    background-color: #fdfbe6;
}
.ourBrandFooter {
    height: 20px;
    width: 100%;
    background-color: #16a085;
}
.ourBrandBody {
    max-width: 960px;
    margin: auto;
}
.ourBrandButt {
    float: left;
    text-align: left;
    margin-top: 32px;
}
.ourBrandGraphImg {
    float: left;
    width: 22%;
    text-align: right;
}
.ourBrandGraphText {
    float: left;
    width: 46%;
    color: #6d7983;
    margin: 45px 0 0 60px;
}
.macImg {
    text-align: right;
}

/* it's seems it's working only for line-elements */
p::selection {
    background: #c8c8c8;
}
p::-moz-selection {
    background: #c8c8c8;
}
#Header_header {
    direction: rtl;
    text-align: left;
    min-width: 1040px;
    display: none;
}
.logo {
    float: right;
    padding-right: 20px;
    direction: ltr;
    display: flex;
    padding-top: 1px;
}
.header-menu-ul {
    float: left;
    padding: 6px 0 20px 30px;
}
.phoneSpan {
    margin-top: 25px;
    margin-right: 30px;
    font-size: 20px;
    color: black;
}
#discounts {
    background: #ff7f7f;
}
.bestResources {
    background: #f7f7f7;
    overflow: hidden;
}
.inner-elem {
    width: 60px;
    height: 60px;
}
#requestButt {
    background-color: #16a085;
    text-align: center;
    color: #fff;
    border: 1px solid #b9dcd5;
    cursor: pointer;
}
.graphImg {
    width: 160px;
    margin-top: 12px;
}
.show-subsection {
    background-image: url("../images/arrowdown.png");
    background-size: 20px;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer;
}
.subsection {
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    width: 310px;
    background: rgba(255, 255, 255, 0.84);
    position: absolute;
    margin-top: 10px;
    padding: 10px;
    margin-left: 80px;
}
.subsection-list {
    background-color: #fff;
    border-radius: 3px;
    width: 100%;
    max-height: 300px;
    overflow: auto;
}
.logoImg {
    width: 150px;
    height: 200px;
    background: url("../images/odessa.png");
    background-size: 150px;
    position: absolute;
    top: 90px;
}
.logo-div {
    width: 840px;
    margin: auto;
}
.rptShort .subsection .subsection-list a {
    width: auto;
}
.mail-container {
    width: 100%;
    height: 100%;
    background-color: rgba(19, 25, 23, 0.57);
    position: fixed;
    top: 0;
    z-index: 1000;
    min-width: 1040px;
    min-height: 570px;
    display: none;
    opacity: 0;
}
.left-container {
    float: left;
    height: 100%;
    width: 30%;
    position: relative;
}
.left-container:hover {
    background-color: rgba(255, 127, 127, 0.23);
}
.right-container {
    float: right;
    height: 100%;
    width: 30%;
    position: relative;
}
.right-container:hover {
    background-color: rgba(22, 160, 133, 0.23);
}
.top-container {
    width: 40%;
    height: 24%;
    margin: auto;
}
.center-container {
    width: 40%;
    height: 394px;
    margin: auto;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    padding: 8px;
    box-sizing: border-box;
    position: relative;
    background: rgba(255, 255, 255, 0.84);
}
.mail-body {
    background-color: #fff;
    border-radius: 3px;
    height: 100%;
    width: 100%;
}
.bottom-container {
    width: 40%;
    height: 20%;
    margin: auto;
}
.required {
    color: red;
}
.mail-body-container {
    padding: 12px 44px 12px 12px;
    box-sizing: border-box;
    position: relative;
}
.mail-body-container input {
    border: 1px solid #d8dde1;
    color: #5B5B5B;
    transition: none;
    box-shadow: none;
    font-family: Arial, serif;
    font-size: 14px;
    width: 100%;
    outline: none;
    border-radius: 3px;
    padding: 12px 20px 12px 10px;
    margin-bottom: 9px;
}
.mail-body-container label {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
    color: #7c7e82;
    padding: 14px 14px 12px;
}
.mail-body-container textarea {
    border: 1px solid #d8dde1;
    color: #5B5B5B;
    transition: none;
    box-shadow: none;
    font-family: Arial, serif;
    font-size: 14px;
    width: 100%;
    outline: none;
    border-radius: 3px;
    padding: 12px 20px 12px 10px;
    margin-bottom: 10px;
    height: 64px;
}
.g-recaptcha {
    width: 304px;
    margin: auto;
    padding-left: 28px;
}
.email-cancel {
    background: url("../images/close.png");
    width: 128px;
    height: 128px;
    position: absolute;
    right: 35%;
    margin-top: 130px;
}
.email-submit {
    background: url("../images/ok.png");
    width: 128px;
    height: 128px;
    position: absolute;
    left: 35%;
    margin-top: 130px;
}
.b {
    cursor: pointer;
}
.subPartitionId {
    display: none;
}
.AddressList {
    border: 1px solid rgba(120, 120, 120, 0.12);
    border-left: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: rgba(22, 160, 133, 0.22);
    background: linear-gradient( to right top, rgba(22, 160, 133, 0.02), rgb(255, 255, 255));
    padding: 10px;
    border-top: none;
    border-right: none;
}
.address {
    padding: 10px;
}
.companyMainInfo {
    padding: 0px 10px 10px;
    text-align: justify;
}
.companyMainInfo a h3 {
    text-align: center;
    padding: 10px;
}
.companyMainInfo h3 {
    text-align: center;
    padding: 10px;
}
.addressInfo {
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.68);
}
.companyAmount {
    float: right;
    padding: 10px;
    color: #d67b7b;
}

.loading {
    margin: auto;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 0.25rem solid rgb(182, 182, 182);
    border-top-color: #16a085;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.pre-loading {
    display: none;
    width: 100%;
    padding-top: 180px;
    padding-bottom: 280px;
}

.rptShort div p {
    -webkit-margin-before: 0.3em;
    -webkit-margin-after: 0.3em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}