.hiddenAdr {
    display: none;
    opacity: 0;
}
.hiddenAdr-btn p .btn.btn-primary, .btn.btn-primary:focus {
    color: white;
    background: #3d7677 none;
    border-color: #b9dcd5;
    text-shadow: none;
    text-transform: none;
    padding: 8px 12px 8px 12px;
}
.hiddenAdr-btn p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 0;
    padding: 0;
}
.AddressList {
    position: relative;
}
.hiddenAdr-btn {
    top: 10px;
    right: 10px;
    position: absolute;
}
.position-main-container {
    background: white;
}
