.header {
    width: 100%;
    height: 40px;
    background-color: #fdfbe6;
    border-bottom: 1px solid #decfbd;
    padding-top: 8px;
    position: fixed;
    top: 0;
    z-index: 100;
}
.content {
    float: left;
    width: 300px;
    height: 30px;
}
body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.menu {
    padding-left: 100px;
}
a {
    color: #7e7e7e;
    text-decoration: none;
}
a:hover {
    color: #16a085;
    transition: color 0.3s ease-out;
}
.search {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.26);
    font-family: Arial, serif;
    top: 0;
    display: none;
    opacity: 0;
}
.searchMenu {
    background: rgba(255, 255, 255, 0.9);
    width: 300px;
    height: 200px;
    border: 1px solid #d2cece;
    border-radius: 5px;
    margin: 150px auto 0;
    padding: 15px;
}
.searchInput {
    border: 1px solid #d8dde1;
    color: #5B5B5B;
    transition: none;
    box-shadow: none;
    font-family: Arial, serif;
    font-size: 14px;
    width: 100%;
    outline: none;
    border-radius: 3px;
    padding: 16px 10px 13px 10px;
    margin-bottom: 10px;
}
.button {
    display: block;
    border: 1px solid #a8cb98;
    width: 60px;
    text-align: center;
    padding: 6px;
    background-color: #16a085;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 20px;
    float: left;
}
.searchSubmit {
    float: right;
    margin-left: 10px;
    margin-right: 84px;
    height: 32px;
    padding: 0;
}
.searchCancel {
    float: right;
    border: 1px solid #dedad8;
    background-color: #ff7f7f;
    color: #fff;
    height: 32px;
    padding: 0;
}
@-moz-document url-prefix() {
    .searchCancel {
        height: 33px;
    }
    .searchSubmit {
        height: 33px;
    }
}
.logout {
    border: 1px solid #dedad8;
    background-color: #ff7f7f;
}
h3 {
    font: normal 20px/1.5 "Helvetica Neue", Helvetica,Arial, sans-serif;
    margin-left: 40px;
}
.h3Logo {
    margin-top: 66px;
}
.bottom {
    width: 100%;
    height: 40px;
    background-color: #fdfbe6;
    border-top: 1px solid #decfbd;
    bottom: 0;
    position: fixed;
}
h3 a {
    color: black;
    cursor: pointer;
}
h3 a:hover {
    color: #16a085;
    transition: color 0.3s ease-out;
}